# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Database
db.sqlite3

# Collected Static Files
staticfiles/

# Editor and IDE Specific
.vscode/
.idea/

# OS Specific Files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary Files
*.tmp
*.temp
*.bak
.iml