{% extends 'tasks/base.html' %}

{% block title %}Detail úkolu{% endblock %}

{% block content %}
<h2>Detail úkolu</h2>
<p><strong>Název:</strong> {{ task.name }}</p>
<p><strong>Popis:</strong> {{ task.description }}</p>
<p><strong>Hotový:</strong> {{ task.completed|yesno:"Ano,Ne" }}</p>
<p><strong>Procento dokončení:</strong> {{ task.completion_percentage }}%</p>

{% if can_complete_task %}
    <a href="{% url 'complete_task' task.id %}" class="button complete">Dokončit úkol</a>
{% endif %}

<h3>Podúkoly</h3>
<ul>
  {% for subtask in subtasks %}
    <li>
      {{ subtask.name }}
      {% if not subtask.completed %}
        | <a href="{% url 'complete_subtask' task.id subtask.id %}" class="button complete">Označit jako splněný</a>
      {% else %}
        - Splněno
      {% endif %}
      | <a href="{% url 'delete_subtask' task.id subtask.id %}" class="button delete" onclick="return confirm('Opravdu chcete smazat tento podúkol?');">Smazat</a>
    </li>
  {% empty %}
    <li>Žádné podúkoly.</li>
  {% endfor %}
</ul>

<p><a href="{% url 'add_subtask' task.id %}">Přidat podúkol</a></p>

<p>
  <a href="{% url 'task_list' %}">Zpět na seznam úkolů</a> |
  <a href="{% url 'delete_task' task.id %}" onclick="return confirm('Opravdu chcete smazat tento úkol?');">Smazat úkol</a>
</p>
{% endblock %}
