{% extends 'tasks/base.html' %}

{% block title %}Seznam úkolů{% endblock %}

{% block content %}
<div class="task-list-container">
    <h2>Seznam úkolů</h2>
    <div class="filter-container">
    <form method="get" action="{% url 'task_list' %}">
        <label for="status">Filtr:</label>
        <select name="status" id="status" onchange="this.form.submit()">
            <option value="" {% if not filter_status %}selected{% endif %}>Všechny</option>
            <option value="completed" {% if filter_status == 'completed' %}selected{% endif %}>Dokončené</option>
            <option value="pending" {% if filter_status == 'pending' %}selected{% endif %}>Nedokončené</option>
        </select>
    </form>
</div>
    {% if tasks %}
        <ul class="task-list">
            {% for task in tasks %}
                <li class="{% if task.completed %}completed-task{% else %}pending-task{% endif %}">
                    <span class="task-name">
                        <a href="{% url 'task_detail' task.id %}">{{ task.name }}</a>
                    </span>

                    <!-- Procento dokončení úkolu -->
                    {% if not task.completed %}
                        <span>{{ task.completion_percentage }}%</span>
                        {% if task.completion_percentage == 100 or task.subtasks.count == 0 %}
                            <a href="{% url 'complete_task' task.id %}" class="button complete">Dokončit</a>
                        {% endif %}
                    {% endif %}

                    <!-- Tlačítko Smazat -->
                    <a href="{% url 'delete_task' task.id %}" class="button delete">Smazat</a>

                    <!-- Seznam podúkolů na hover efekt -->
                    {% if task.subtasks.all %}
                        <ul class="subtask-list">
                            {% for subtask in task.subtasks.all %}
                                <li>
                                    {{ subtask.name }}
                                    {% if not subtask.completed %}
                                        | <a href="{% url 'edit_subtask' task.id subtask.id %}">Upravit</a>
                                    {% else %}
                                        - Splněno
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Žádné úkoly nejsou aktuálně vytvořené.</p>
    {% endif %}
    <a href="{% url 'add_task' %}" class="button neutral">Přidat nový úkol</a>
</div>
{% endblock %}