{% extends 'tasks/base.html' %}

{% block title %}Seznam úkolů{% endblock %}

{% block content %}
<div class="task-list-container">
    <h2>Seznam úkolů</h2>
    {% if tasks %}
        <ul class="task-list">
            {% for task in tasks %}
                <li class="{% if task.completed %}completed-task{% else %}pending-task{% endif %}">
                    <span class="task-name">
                        <a href="{% url 'task_detail' task.id %}">{{ task.name }}</a>
                    </span>
                    {% if not task.completed %}
                        <a href="{% url 'complete_task' task.id %}" class="button complete">Dokončit</a>
                    {% endif %}
                    <a href="{% url 'delete_task' task.id %}" class="button delete">Smazat</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Žádné úkoly nejsou aktuálně vytvořené.</p>
    {% endif %}
    <a href="{% url 'add_task' %}" class="button neutral">Přidat nový úkol</a>
</div>
{% endblock %}
